html, body, #root {
  height: 100%;
  margin: 0;
}

.base {


  background-size: "cover";
  background-repeat: no-repeat;
  background-image:url('https://encrypted-tbn0.gstatic.com/images?q=tbn:ANd9GcR5oAPX5kAe07UmGkOZc87jaBVVwMwNMet2Ig&s'); 
}

.container {
  text-align: center;
  padding: 100px;
  background-position: center;  
  background-repeat: no-repeat;  
  background-size: cover;
  background-attachment: fixed; 
  min-height: 20vh;   
  color: white;  
}

.header {
  margin-bottom: 20px;
  font-size: 50px;
}

.title {
  font-size: 500px;
}

.description {
  font-size: 1.2rem;
  margin-bottom: 20px;
}

.button {
  margin-top: 20px;
  text-transform: none;
}

.features {
  margin-top: 40px;
}

.feature {
  border: 1px solid #ccc;
  padding: 20px;
  border-radius: 8px;
}
